/** stylesheet for main.html **/
/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,600;1,700&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,600;1,700&family=Lateef:wght@400&family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800&family=Roboto+Mono:wght@300;400;500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
    /*
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lateef', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;*/
    
    scroll-behavior: smooth;
}   

html,body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    background: rgb(1, 0, 34); /*fix white flash*/
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    background-color: rgb(2, 0, 46);
    backdrop-filter: blur(6px);

    border-bottom: 1px solid rgb(3, 0, 78);

    font-family: 'Raleway', sans-serif;
}

header .logo
{
    font-size: 1.5em;

    overflow: visible;

    color: rgb(255, 255, 255);
    
    padding-left: 2.4em;

    text-decoration: none;
    
    /*text-transform: uppercase;*/

    font-weight: 700;

    letter-spacing: 2px;

    
}

header ul
{
    font-size: 1.2em;

    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none; /* no bullet points */
    margin-left: 20px;
}

header ul li a
{
    font-weight: bold;
    text-decoration: none;
    padding: 6px 15px;
    color: rgb(255, 255, 255);
    border-radius: 5px; /* turns button round */
}

header ul li a:hover,
header ul li a.active
{
    background: rgb(0, 110, 255);
    color: #ffffff;
}

.div-intro 
{

    height: 100vh;
}

.div-intro section
{
    padding-top: 30vh;

    margin-left: 20vh;
    margin-right: auto;

    margin-bottom: 100px;

    position: relative;  

    letter-spacing: 0.05em;
}

.btn-slide
{
    font-family: 'Raleway', sans-serif;

    font-size: 2.5vh;
    font-weight: 700;
    letter-spacing: 0.5px;

    color: white;

    width: 9em;
    padding: 0.4em;

    background-color:rgb(0, 110, 255);
    border: none;
    border-radius: 5px;

    box-shadow: inset 0 0 0 0 rgb(0, 110, 255);
    transition: ease-out 0.3s;
}

.btn-slide:hover
{
    box-shadow: inset 9em 0 0 0 rgb(170, 207, 255);
}

.div-intro h1 
{
    font-family: 'Poppins', sans-serif;

    color: white;
    font-style: 700;
    font-size: 7.5vh;

    width: 20em;

    padding-bottom: 10px;
}

.div-intro h2 
{
    font-family: 'IBM Plex Sans', sans-serif;
    color: rgba(255, 255, 255, 0.781);

    font-weight: 400;
    font-size: 3vh;  
 
    line-height: 1.7;

    width: 30em;

    padding-bottom: 25px;
}

